header{
    background-color:#bcdb7e;
    background-image: url('https://ajpomales.github.io/sample/images/flywheel.jpg');
    background-size:100%; padding:1%;
  }
  
  body{
    padding:1%;
    margin:2%;
  }
  
  
  h1{
    text-align:center;
    color:#ffffff;
    text-transform:uppercase;
  }
  
  nav a{
    display:inline-block;
    width:12%;
    padding:8px;
    margin-right:5%;
    border-radius:6px;
    text-decoration:none;
    color:#b2d56a;
    background-color:#ffffff;
    margin-bottom:3%;
    opacity:0.9;​}

  nav a:hover{
    background-color:#a5e519;
    color:#648425;
    
  }
  
  nav a:active{
    background-color:#dbecba;
    color:#000000;
    font-weight:bold; 
  }
a.active{background-color:#000000}
  nav {
     text-align:center;
  }
  
  .left{
    width:19%;
    display:block;
    float:left; 
    background-color:#bcdb7e;
    margin-bottom:0%;
    }
  
  .right{
    float:right;
    width:79%;
   }
  
  h2{ color: #559938; text-transform: uppercase;}

  img{
    width:90%;  
    border:2px solid #ffffff;
    display:block;
    margin: 0 auto;
    margin-bottom:30%;
    margin-top:20%;
  }
  table,th,td{
/*Space Between Rows and columns*/
	border: 1px solid #ffffff;
}
table{
	margin: 0 auto;
	table-layout: auto;
	width: 750px;
	font-family: "Arial", Times New Roman, sans-serif;
	font-size: 16px;
	line-height: 190%;
	text-align: center;
}

th{
	border-top-left-radius:7px;
	border-top-right-radius:7px; 
  border: 1px solid #b2d56a;
	background: linear-gradient(#d8e4a8,#53650c);
	color: #ffffff;
  padding: 10px;
}
/*Team Names Text Shadow - table*/
td{
	color: #000000;
	text-shadow: 2px 2px 1px #afaf79;
  padding: 10px;

}
tr td{
	background-color:#f2edab;
}

tr{
		opacity: 0.8;

}
tr.header{
	opacity: 1;
}

tr:hover{
	opacity: 6; 
}
th:first-child, td:first-child{
	text-align: left;
}

/*img{
	display: block;
	margin-bottom: 15px;
	height: 150px;
	width: 220px;
	padding: 3px;
	border:solid 2px #000000;
}*/

